body {
  background: url(./assets/nariman-mesharrafa-A5sVh4KbR88-unsplash.jpg)
    no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
